%html
	%head
		%link{href: "assets/css/main.css", rel: "stylesheet", type: "text/css"}
    %link{href: "assets/css/pages/pagedesign-1.css", rel: "stylesheet", type: "text/css"}
	%header
  .logo
    %img{src: "https://dashboard.wikiedu.org/assets/images/wiki-logo.png", alt:"logo"}/
  .right
    %p.ui
      Profile
.training__header
  .training__wrap
    .training__title 
      %p Module One: Policies and Guidelines
    .training__counter.right.ui
      %p
        Page 2 of 22
      .bar-container
        .bar
        .bar
        .bar
      .dropdown.display-none#dropdown
        %p.right
          Page 2 of 22 
          %span X
        %ul
          %li 1. Policies and Guideline: Basic overview
          %li 2. What to expect
          %li 3. Five Pillars
          %li 4. Wikipedia is an online encyclopedia
          %li 5. Wikipedia has a neutral point of view
          %li 6. Wikipedia is free
          %li 7. Be polite
          %li 8. Wikipedia does not have firm rules
          %li 9. Review
          %li 10. Quiz Question 1
          %li 11. Bravo!
          %li 12. Verifiability
          %li 13. Quiz Question 2
          %li 14. Notability
          %li 15. Notability (2)
          %li 16. Quiz Question 3
          %li 17. No original research
          %li 18. Copyright and plagiarism
          %li 19. Copyright and plagiarism (2)
          %li 20. Quiz Question 4
          %li 21. Wrap up slide
          %li 22. Quick "Review" Quiz Questions
        
.wrap
  .slide
    %h1.py2
      Five Pillars
    %p
      Although Wikipedia is the encyclopedia anyone can edit, that doesn't mean that everyone can edit it independently. But good articles aren’t written by making chaotic, random edits. In fact, a lot goes on behind the scenes of every page! When volunteers work on an article, they’re working within a set of principles, often called the Five Pillars. There's a s'ystem of checks and balances in place, too, to make sure that people follow these principles. Without this community, there's no Wikipedia. When you edit Wikipedia, you're a part of this community.
    %ul
      %li Wikipedia is an online encyclopedia
      %li Wikipedia has a neutral point of view
      %Li Wikipedia is free content
      %li Wikipedians should interact in a respectful and civil manner
      %li Wikipedia does not have firm rules
    %p
      Let’s explore these a bit.

  .footer.ui.py1
    %a{href: ""}
      &#8592; Previous Page: Overview 
    %a.right.display-none{href: ""}
      Next Page: Pillar #2 &#8594;
    %button 
      %p Next Page
      .icon
        %img{src: "http://i.imgsafe.org/bfd7bcf.png", alt: ""}/