/* TOC START */
.title
  width 100%
  float left
  margin-top 0
  border-bottom 1px solid #000
  p
    padding 0
    margin-bottom 0
ol
  font-size 16px
  font-weight 700
  margin-left 25px
  list-style-type decimal
  color #3A3D46
  li
    padding .75rem 0
    
.toc
  position relative
  width 36%
  .scroll-wrap
    width 100%
    margin-top 50px
    overflow auto
/* TOC END */

.toc__header
  font-size 14px
  font-weight 700
  text-transform uppercase
  
.toc__item-header
  margin-bottom 5px
  font-size 16px
  font-weight 700
  color #3A3D46
