.toc__header
  font-size 16px
  font-weight 700
  text-transform uppercase
  color $steel
  
.toc__item-header
  margin-bottom 5px
  font-size 16px
  font-weight 700
  color $steel


/* TOC START */
.title
  width 100%
  float left
  margin-top 0
  // border-bottom 1px solid #000
  p
    padding 0
    margin-bottom 0
  .toc__pagenumber
    font-weight regular
ol
  font-size 16px
  font-weight 700
  margin-left 25px
  list-style-type decimal
  color $steel
  li
    padding .75rem 0
    
.toc
  position relative
  width 36%
  padding 30px
  background-color #EBEBEB
  .scroll-wrap
    width 100%
    margin-top 50px
    overflow auto
/* TOC END */
