.left
  float left
.right
  float right
.py1
  padding 1rem 0
.my1
  margin 1rem 0
.styleguide-my1
  margin 1rem 0
.w100
  width 100%

.background
	background $base-color
	
.container--styleguide
	clearfix()
	width 100%
	margin 5px
	&-dark
		background $base-color
		
/* STYLEGUIDE UI */

.bg-color
  padding 20px
  background #f8f8f8

.section h3
  margin-top 50px
  padding-bottom 0
  font-size 1.5rem
  font-weight 300
  color #000
  
