/* HEADERS */
h1
  font-size 22px
  font-weight 700
  padding 1rem 0

/* TYPE */
p
  color $mirage
  max-width 750px
  padding .75rem 0
  font-size 19px
  line-height 29px
  font-weight 300
  
.secondary
  max-width 555px
  padding 0
  font-size 16px
  font-weight 400
  line-height 26px
  color $steel
  
.tertiary
  max-width 555px
  padding 0
  font-size 14px
  font-weight 400
  line-height 20px
  color $steel
  
.breadcrumb
  font-size 12px
  text-decoration underline
  color $steel
  
.slide__navigation
  font-size 16px
  text-decoration underline
  color $wikigreen

.section__header
  font-family $header-font
  font-size 50px
  font-weight 300
