/* /////////////////////////////////////////////////////

WINTR Stylus Boilerplate
Author: matt@wintr.us

///////////////////////////////////////////////////// */


/* Variables (use the "$" prefix)
--------------------------------------------- */

// Colors
$base-color = #3A3D46
$steel = #666666
$jaguar = #2B2B2B
$mirage = #3A3D46
$wikipurple = #556192
$wikipurple-dark = #444E75
$wikigreen = #41B293
$wikigreen-dark = #359178

// Fonts
$body-font = "Open Sans", Helvetica, Arial, sans-serif
$header-font = "Source Sans Pro", Helvetica, Arial, sans-serif

$body-font-size = 16px
$base-line-height = 1.3

// Margin & Padding
$global-margin = 20px
$global-padding = 20px

// Breakpoints
$tablet = 400px
$desktop = 800px
$wide-desktop = 1200px


/* Imports
--------------------------------------------- */

@import 'jeet'
@import '_reset'
@import "_fonts"
@import "_utils"
@import "_base"
@import "_typography"
@import "_layout"
@import "modules/*"
@import "pages/styleguide"

/* Placeholder
--------------------------------------------- */
  
